*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    background-color: white;
}

.background{
    background-color: #26a546 ;
    padding:30px 0 30px 15%;
}
.background h1{
    color: white;
}

.content{
    border: 2px solid #ececec;
   /* margin-left: 30%; */
   padding: 15px;
   margin: 15px 15% 15px 15%;
}

.content button{
    background-color: #363b44;
    color: #dddade;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.content input{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 300px;
    border: 2px solid #ececec;
    padding-left: 10px;

}


  
 table tr td {
    height: 20%;
    border: 1px solid #ececec;

  }

  

  